.todotext{
	margin-left:10px;
	margin-top:10px;
}
.done{
	text-decoration:line-through;
	background: lightgreen !important;
}

.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
	background: lightgreen !important;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
	background: none;
}